Source: simple-snake
Section: games
Priority: optional
Maintainer: Louie S <louie@example.com>
Build-Depends: debhelper-compat (= 12), dh-autoreconf
Standards-Version: 4.5.0
Homepage: https://github.com/lshprung/simple-snake

Package: simple-snake
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: simple ncurses snake game
 ncurses snake game where the only boundaries are
 the terminal window.
